body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.todo-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 130px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

#todo-input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li.completed {
    text-decoration: line-through;
    color: #aaa;
}

.delete-btn {
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c82333;
}
